<div class="c-dream-team mat-typography">

    <div  class="c-dream-team__title-box">
        <h1 class="c-dream-team__title" 
            >Dream Team
            <span 
                class="c-dream-team__badge"
                matTooltip="Os jogadores com maior pontuação de cada posição"
                [matTooltipPosition]="'above'"
                matTooltipHideDelay="100"
                matTooltipClass="c-dream-team__tooltip"
                #tooltip="matTooltip" 
                (click)="tooltip.toggle()">
                i
            </span>
        </h1>
    </div>

    <div class="c-dream-team__list">
        <app-card [player]="card" class="c-dream-team__card" *ngFor="let card of cards"></app-card>
    </div>
</div>