<div class="card mat-typography">
    <img src="./assets/img/borders/90-border.png" class="card__border" alt="">
    <span class="card__value">95</span>
    <span class="card__nick">Ranger</span>
    <span class="card__name">Filipe Barrios</span>
    <img class="card__role" src="./assets/img/roles/jg.svg"/>   
    <img src="https://www.curitiba.pr.leg.br/atividade-parlamentar/legislacao/imagens/bandeira-do-brasil.png/image" class="card__flag" alt="logo">
    <img src="./assets/img/logo.png" class="card__logo" alt="logo">    
    <div class="card__container">        
      <img class="card__player-img" src="./assets/img/ranger.png" alt="player"/>   
    </div>
</div>
