@import '../../../styles/common.scss';

.c-footer{
    min-height: 200px;
    background-color: $primary-color;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    @media #{$xtablet}{
        grid-template-columns: 12fr;
    }
    &__img{
        width: 100%;
        @media #{$xtablet}{
            display: none;
        }
    }
    
    .c-middle{
        @include flexCenter;
        align-items: flex-end;
        @media #{$xtablet}{
            margin: 10px 0;
        }
        &__text{
            color: var(--text-primary-color);
            margin-bottom: 13px;
            &--link{
                color: var(--text-primary-color);
            }
            @media #{$xtablet}{
                margin-bottom: 0;
            }
        }
        &__icon{
            margin-left: 5px;
            width: 24px;
            margin-bottom: 8px;
            @media #{$xtablet}{
                margin-bottom: 0;
            }
        }
        @media #{$xtablet}{
            order: 2;
            width: 100%;
            align-items: center;
        }
    }
    .c-end{
        order: 1;
        display: flex;
        flex-direction: column;
        background-color: $primary-darker-color;
        @media #{$xtablet}{
            align-items: center;
        }
        .c-island-data{
            @include flexCenter;
            padding: 0 50px;
            flex-direction: column;
            margin: 15px 0;
            @media #{$xtablet}{
                width: 40%;
            }
            @media #{$mobile}{
                width: 90%;
            }
            &__title{
                color: var(--text-primary-color);
                &--highlight{
                    color: $warn-color;
                }
            }
            &__link{
                width: 100%;
                display: grid;
                align-items: center;
                justify-content: center;
            }
            &__icons{
                width: 80%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                align-items: center;
                justify-items: center;
            }
            &__icon{
                width: 50px;
                height: 50px;
                cursor: pointer;
            }
        }
        .c-creators{
            @include flexCenter;
            flex-direction: column;
            margin: 15px 0;
            &__title{
                color: var(--text-primary-color);
            }
            &__icons{
                width: 40%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                justify-items: center;
                @media #{$xtablet}{
                    width: 30%;
                }
                @media #{$mobile}{
                    width: 40%;
                }
            }
            &__link{
                width: 60%;
            }
            &__icon{
                width: 100%;
                border-radius: 10px;
            }
        }
        &__hr{
            width: 70%;
            align-self: center;
        }
    }
}