<section class="c-footer mat-typography">
    <div class="c-img"></div>
    <div class="c-middle">
        <h4 class="c-middle__text">Feito por <a class="c-middle__text--link" target="_blank" href="https://github.com/dream-team-code/ilha-das-lendas">DREAM TEAM CODE</a></h4>
        <a href="https://github.com/dream-team-code/ilha-das-lendas" target="_blank" rel="noopener noreferrer"><img class="c-middle__icon" src="./assets/img/github.jpg"></a>
    </div>
    <div class="c-end">
        <div class="c-island-data">
            <h4 class="c-island-data__title">Siga a <span class="c-island-data__title--highlight">ILHA DAS LENDAS</span> <br>em todas as redes sociais</h4>
            <div class="c-island-data__icons">
                <a class="c-island-data__link" href="https://www.instagram.com/ilhadaslendas/" target="_blank" rel="noopener noreferrer"><img class="c-island-data__icon" src="./assets/img/instagram.png"></a>
                <a class="c-island-data__link" href="https://www.youtube.com/@ilhadaslendas" target="_blank"><img class="c-island-data__icon" src="./assets/img/youtube.png"></a>
                <a class="c-island-data__link" href="https://twitter.com/ilhadaslendas" target="_blank" rel="noopener noreferrer"><img class="c-island-data__icon" src="./assets/img/twitter.png"></a>
                <a class="c-island-data__link" href="https://www.tiktok.com/@ilhadaslendas" target="_blank" rel="noopener noreferrer"><img class="c-island-data__icon" src="./assets/img/tiktok.png"></a>
                <a class="c-island-data__link" href="https://www.twitch.tv/team/soagradece" target="_blank"><img class="c-island-data__icon" src="./assets/img/twitch.png"></a>
            </div>
        </div>
        <mat-divider class="c-end__hr"></mat-divider>
        <div class="c-creators">
            <h4 class="c-creators__title">Criadores</h4>
            <div class="c-creators__icons">
                <a class="c-creators__link" href="https://github.com/Gusta-Alves" target="_blank" rel="noopener noreferrer"><img class="c-creators__icon" src="https://avatars.githubusercontent.com/u/52005120?v=4"></a>
                <a class="c-creators__link" href="https://github.com/J-Matioli" target="_blank" rel="noopener noreferrer"><img class="c-creators__icon" src="https://avatars.githubusercontent.com/u/40872422?v=4"></a>
                <a class="c-creators__link" href="https://github.com/HenriqueFickert" target="_blank" rel="noopener noreferrer"><img class="c-creators__icon" src="https://avatars.githubusercontent.com/u/31376902?v=4"></a>
            </div>
        </div>
    </div>
</section>