$minmobile: "(max-width: 300px)"; 
$xmobile: "(max-width: 500px)"; 
$smobile: "(max-width: 576px)"; 
$mobile: "(max-width: 767px)"; 

$xtablet: "(max-width: 992px)";
$tablet: "(max-width: 1200px)";

$iphone4: "(max-height: 530px)"; 
$iphone5: "(max-width: 350px)";
$iphoneX: "(min-height: 800px)";

.showmobile {
    display: none !important;
    @media #{$mobile}{
        display: block !important;
    }
}

.hidemobile {
    @media #{#{$mobile}}{
        display: none !important;
    }
}