$primary-color: #181365;
$primary-lighter-color: #bab8d1;
$primary-darker-color: #0e0b49;

$accent-color: #46278f;
$accent-lighter-color: #c8bedd;
$accent-darker-color: #2f1772;

$warn-color: #defc00;
$warn-lighter-color: #f5feb3;
$warn-darker-color: #d1fb00;

$purple: #3c2775;
$blue: #5239fb;