<div class="c-display">
    <div class="c-display__title-box">        
        <h1 class="c-display__title">
            <span>{{ (team$ | async)?.id }}º</span>
            <img class="c-display__title-logo" src="./assets/img/teams/{{alias}}.png" draggable="false">
            <span>{{ (team$ | async)?.nome }} - {{ (team$ | async)?.media }}</span></h1>
    </div>
    <div class="c-display__cards">
        <div class="c-display__card-wrapper" *ngFor="let card of players$ | async index as i">
            <div class="c-display__card-icons" *ngIf="card.role.nome != 'coach'">
                <div  class="c-display__variable">
                    <div *ngIf="card.pontuacao - card.ultimaPontuacao != 0">
                        <img [src]="card.pontuacao - card.ultimaPontuacao > 0 ? './assets/img/up-icon.svg' : './assets/img/down-icon.svg'" alt="" draggable="false">
                        <span>{{ (card.pontuacao - card.ultimaPontuacao) }}</span>
                    </div>
                </div>
                <div class="c-display__mvp">
                    <img src="./assets/img/mvp-icon.svg"  alt="" draggable="false">
                    <span>{{ card.MVP }}</span>
                </div>
                <div class="c-display__bagre">
                    <img src="./assets/img/bagre-icon.svg"  alt="" draggable="false">
                    <span>{{ card.bagre }}</span>
                </div>
            </div>
            <app-card [player]="card" class="c-display__card"></app-card>
        </div>
    </div>
</div>