<div class="c-display">
    <div class="c-display__title-box">        
        <h1 class="c-display__title">
            <span>3º</span>
            <img class="c-display__title-logo" src="./assets/img/teams/losgrandes.png" draggable="false">
            <span>Los Grandes 88</span></h1>
    </div>
    <div class="c-display__cards">
        <div class="c-display__card-wrapper" *ngFor="let card of players$ | async index as i">
            <div class="c-display__card-icons">
                <div *ngIf="card.ultimaPontuacao - card.pontuacao != 0" class="c-display__variable">
                    <img [src]="card.ultimaPontuacao - card.pontuacao > 0 ? './assets/img/up-icon.svg' : './assets/img/down-icon.svg'" alt="" draggable="false">
                    <span>{{ card.ultimaPontuacao - card.pontuacao  }}</span>
                </div>
                <div class="c-display__mvp">
                    <img src="./assets/img/mvp-icon.svg"  alt="" draggable="false">
                    <span>{{ card.MVP }}</span>
                </div>
                <div class="c-display__bagre">
                    <img src="./assets/img/bagre-icon.svg"  alt="" draggable="false">
                    <span>{{ card.bagre }}</span>
                </div>
            </div>
            <app-card [player]="card" class="c-display__card"></app-card>
        </div>
        <app-card [player]="coach" class="c-display__card"></app-card>
    </div>
</div>