@import '../../../styles/common.scss';

.c-teams{
    padding: 30px 15%;
    background: $primary-gradient;
    color: var(--text-primary-color);
    height: 500px;
    &__title{
        text-align: center;
    }
}